@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
:root {
  --accent: #166ae8;
  --bg-primary: #e6e4da;
  --clr-font-primary: #444;
}

body {
  padding: 0;
  margin: 0 2rem;
  font-family: "Quicksand", sans-serif;
  color: var(--clr-font-primary);
  background: var(--bg-primary);
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* navbar */
nav {
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
}
nav h1 {
  margin-left: 10px;
}
nav ul {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 16px;
}
nav li.btn {
  padding: 10px 16px;
  border: 2px solid var(--accent);
  border-radius: 30px;
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
}
nav li.btn:hover {
  color: white;
  background: var(--accent);
}

/* banner */
.banner {
  margin: 0 auto;
  max-width: 960px;
}
.banner img {
  border-radius: 6px;
}

/* photos */
.photos {
  max-width: 960px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
}

.photos > h2 {
  text-align: center;
  margin: 1.5rem auto 2em;
}

/* error */
.error {
  background: #000;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* gallery */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* cards */
.card {
  padding: 1rem;
  box-shadow: #00000026 0px 2px 2px 1px;
  flex: 1 1 250px;
}
