@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
:root {
  --accent: #166ae8;
  --bg-primary: #e6e4da;
  --clr-font-primary: #444;
}

body {
  padding: 0;
  margin: 0 2rem;
  font-family: "Quicksand", sans-serif;
  color: var(--clr-font-primary);
  background: var(--bg-primary);
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  margin: 2rem auto;
  text-align: center;
  font-weight: 300;
}

/* Utilities */

.btn {
  padding: 10px 16px;
  border: 2px solid var(--accent);
  border-radius: 30px;
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
  transition: all 150ms ease-out;
}
.btn:hover,
.btn:focus {
  color: white;
  background: var(--accent);
}

.gallery-link {
  margin: 1rem auto;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  max-width: 220px;
  color: #3d444e;
  border-color: #3d444e;
}

.gallery-link:hover,
.gallery-link:focus {
  color: white;
  background: #3d444e;
}

/* Home Styles */
.home {
  max-width: 760px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
}

.home > section > .paragraph {
  text-align: justify;
}

/* navbar */
.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.1rem auto;
}
.nav-mobile > .nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-mobile > .nav-title > h1 {
  margin-left: 1rem;
}

.nav-mobile ul {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-mobile li {
  display: inline-block;
  margin-left: 16px;
}
.nav-mobile li.btn {
  padding: 10px 16px;
  border: 2px solid var(--accent);
  border-radius: 30px;
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
  transition: all 150ms ease-out;
}
.nav-mobile li.btn:hover {
  color: white;
  background: var(--accent);
}

.nav-dekstop {
  display: none;
}

/* banner */
.banner {
  margin: 0 auto;
  max-width: 960px;
}
.banner img {
  border-radius: 6px;
}

/* photos */
.gallery-photo {
  object-fit: cover;
}

.photos {
  max-width: 960px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
}

.photos > h1 {
  text-align: center;
  margin: 1.5rem auto 1.5em;
}

/* error */
.error {
  background: #000;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* gallery */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.gallery > a {
  max-width: 360px;
}

/* cards */
.card {
  padding: 1rem;
  box-shadow: #00000026 0px 2px 5px 1px;
  max-width: 400px;
}

.card > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.warning {
  background-color: rgba(255, 245, 100, 0.3);
  border-left-color: #f8e325;
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  /* navbar */
  .nav-mobile {
    display: none;
  }
  .nav-dekstop {
    display: block;
    margin: 20px auto 40px;
    display: flex;
    align-items: center;
  }
  .nav-dekstop h1 {
    margin-left: 10px;
  }
  .nav-dekstop ul {
    margin-left: auto;
    list-style-type: none;
    padding: 0;
  }
  .nav-dekstop li {
    display: inline-block;
    margin-left: 16px;
  }
  .mobile-welcome-user {
    display: none;
  }
}
